:root {
  --primaryblue: #096CB9; 
  --secondaryyellow: #FFBE00;
  --thirdgreen: #3EA065;
  --fourthgray: #DFDFDF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

main {
  display: grid;
  grid-template-columns: 16.875rem 16.875rem;
  grid-template-rows: 1rem 13rem 3rem 10rem 1rem;
  place-content: center;
  place-items: center;
  grid-template-areas: 
  "header header header"
  "hero hero hero"
  "info info info"
  "block block block"
  "footer footer footer";
   
}

header {
  gr
}